@import "tailwindcss";


:root {
  --white: #ffffff;
  --offWhite: #CDCCC8;
  --black: #151515;
  --gray: #a4a4a4;
  --oj: #F34801;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.embedStage iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}


.noControl mux-player {
  /* Hide all controls at once */
  --controls: none;
}


mux-player {
  clip-path: inset(2px 2px);
}

.bgMux mux-player {
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.containH mux-player {

  width: auto;
  height: 100%;
}

.containW mux-player {

  width: 100%;
  height: auto;
}

mux-player {


  /* Target all sections by excluding the section prefix */

  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;

  --pip-button: none;
  --playback-rate-button: none;
  --rendition-menu-button: none;
  clip-path: inset(0 0);

}

.workStage mux-player {
  clip-path: inset(1px 1px);
  -webkit-clip-path: inset(1px 1px);
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face {
  font-family: 'sans';
  src: url('/fonts/sans.woff2');
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: 'sans', Arial, Helvetica, sans-serif;
  font-size: 13pt;
}

h2,
p {
  font-size: 10pt;
  font-family: 'sans', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}


/* fade in*/
.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}